# Telco Project
***
### Project Description
Accurately predict customer churn using machine learning classification
algorithms

### Table of Contents:
1. [Planning](#Planning)
2. [Acquisition](#Acquisition)
3. [Preparation](#Preparation)
4. [Exploration](#Exploration)
5. [Modeling](#Modeling)
6. [Delivery](#Delivery)

## Planning
---
 - [ ] Goal(s)
     - [ ] Find drivers of customer churn
     - [ ] Accurately predict customer churn at Telco.
 - [ ] Measure(s) of success
     - [ ] Hypothesis testing
     - [ ] Baseline accuracy
     - [ ] 3 classification models
         - [ ] Model performance: train, validate, test
         - [ ] Hyperparameter tuning
 - [ ] Plan to achieve 1 & 2
 - [ ] Develop hypotheses
     - [ ] Brainstorm questions
 
Brainstorming questions to form hypothesis:
Do customer's of a certain demographic churn more than the rest?
Does service package influence churn?
Does having add-on services influence whether a customer churns?
Does the payment method influence whether customers churn?

## Acquisition
--------------
- [ ] Instructions to acquire data
- [x] Upload `.csv` file to repository - file named `telecom_data.csv`
- [ ] acquire.py file
    1. [x] Write functions to acquire telco dataset
    2. [ ] Write docstring for each function

In [1]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from acquire import get_telco_data
from prepare import telco_data_prep, preprocessed_data, data_target_splitter
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

In [2]:
# df_telco.nunique()

In [3]:
# object_columns = df_telco.nunique()[df_telco.nunique() <= 4]

In [4]:
# object_columns = object_columns.index.to_list()

In [5]:
# for column in object_columns:
#     print(df_telco[column].value_counts().sort_index())
#     print('')

In [6]:
# sns.distplot(df_telco.tenure);

In [7]:
# sns.distplot(df_telco.monthly_charges);

## Preparation and Processing
---
- [ ] Document Process

In [8]:
get_telco_data()

,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,DSL,Month-to-month,Mailed check
1,4,1,1,0013-MHZWF,Female,0,No,Yes,9,Yes,...,Yes,Yes,Yes,Yes,69.40,571.45,No,DSL,Month-to-month,Credit card (automatic)
2,1,1,1,0015-UOCOJ,Female,1,No,No,7,Yes,...,No,No,No,Yes,48.20,340.35,No,DSL,Month-to-month,Electronic check
3,1,1,1,0023-HGHWL,Male,1,No,No,1,No,...,No,No,No,Yes,25.10,25.1,Yes,DSL,Month-to-month,Electronic check
4,3,1,1,0032-PGELS,Female,0,Yes,Yes,1,No,...,No,No,No,No,30.50,30.5,Yes,DSL,Month-to-month,Bank transfer (automatic)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,4,3,3,9950-MTGYX,Male,0,Yes,Yes,28,Yes,...,No internet service,No internet service,No internet service,Yes,20.30,487.95,No,None,Two year,Credit card (automatic)
7039,2,3,3,9953-ZMKSM,Male,0,No,No,63,Yes,...,No internet service,No internet service,No internet service,No,25.25,1559.3,No,None,Two year,Mailed check
7040,4,3,3,9964-WBQDJ,Female,0,Yes,No,71,Yes,...,No internet service,No internet service,No internet service,Yes,24.40,1725.4,No,None,Two year,Credit card (automatic)
7041,3,3,3,9972-EWRJS,Female,0,Yes,Yes,67,Yes,...,No internet service,No internet service,No internet service,Yes,19.25,1372.9,No,None,Two year,Bank transfer (automatic)
7042,4,3,3,9975-GPKZU,Male,0,Yes,Yes,46,Yes,...,No internet service,No internet service,No internet service,No,19.75,856.5,No,None,Two year,Credit card (automatic)

## Exploration
---
- [ ] Statistical Analysis
    - [ ] Restate hypothesis here
    - [ ] Test hypotheses
    - [ ] Plot distributions
- [ ] Create visuals
- [ ] Present and summarize key findings

Hypotheses

In [9]:
train, validate, test = preprocessed_data()

In [10]:
df_numeric_attributes = train.select_dtypes(exclude='uint8')
df_categorical_attributes = train.select_dtypes(exclude=['float64', 'int64'])

numeric_columns = df_numeric_attributes.columns.to_list().remove('churn')
categorical_columns = df_categorical_attributes.columns.to_list()

In [11]:
# sns.pairplot(train,
#              x_vars = numeric_columns,
#              y_vars = numeric_columns,
#              hue = 'churn');

## Modeling
---
- [ ] sklearn.domymathhomework.classification_models
    - [ ] Create 3 classification models

In [ ]:
from sklearn

## Delivery
---

- [ ] Summarize/Recap key findings
    - [ ] Drivers

[Return to the top](#Telco-Project)